################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.sln
/ADAT Personentabelle/.vs/ADAT Personentabelle/v17
/ADAT Personentabelle/ADAT Personentabelle/obj/Debug
